@import "variables";


footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-image: $gradiente-footer;
    border-top: $borde-superior-footer;
    padding: 16px;

    .footer {

        &__mapa {

            &-titulo{
                margin-bottom: $margen-titulos;
                text-align: center;
            }

            &-nav{

                &-lista{
                    text-align: center;

                    &-item{

                        margin-top: $margen-opciones;
                    }

                    list-style: none;
                    font-family: 'Barlow', sans-serif;

                    &-item a{
                        text-decoration: none;
                        color: $color-navegacion;
                    }

                    &-item a:hover{
                        color:$color-boton-navegacion;
                    }
                }
            }
        }

        &__contacto {

            &-titulo{
                margin-bottom: $margen-titulos;
                text-align: center;
            }
            &-lista{
                list-style: none;
                text-align: center;

                &-item{
                    margin-top: $margen-opciones;
                }  
            }
        }

        &__suscribe{

            &-titulo{
                margin-bottom: $margen-titulos;
                text-align: center;
            }
            &-form{
                display: flex;
                flex-direction: column;
                align-items: center;
                
                &-entrada{
                    height:$alto-entrada ;
                    border: $color-borde-buscador solid 1px;
                    border-radius: 5px;
                }

                &-boton{
                    width:200px;
                    height: 30px;
                    background-color: $color-boton-navegacion;
                    color: $color-navegacion2;
                    border: $color-boton-navegacion solid 1px;
                    border-radius: 5px;
                    font-weight: bold;
                    font-size: large;
                    margin-top: $margen-opciones;
                }

                &-boton:hover {
                    background-color: $color-boton-navegacion2;
                    border: $color-boton-navegacion2 solid 1px;
                }
            }
        }
    }
}