@import "variables";

header {

    border-bottom: $borde-inferior-header;

    .header {

        &__img{
            width: 230px;
        }

        &__nav{
            display: flex;
            align-items: center;
            padding: 16px;
            background-image: $gradiente-header;
            justify-content: space-between;
            font-size: large;

            &-lista{
                list-style: none;
                display: flex;

                &-item a {
                    text-decoration: none;
                    color: $color-navegacion;
                    margin: 16px;
                    padding: 12px;  
                }

                &-item a:hover {
                    background-color: $color-boton-navegacion;
                    color: $color-navegacion2;
                    border-radius: 5px;
                }
            }
            &-areausuario {

                &-nav{
                    &-lista{
                        list-style: none;
                        display: flex;
                        
                        &-item {
                            margin-right: 16px;
                        }

                        &-item a {
                            text-decoration: none;
                            background-color: $color-boton-navegacion;
                            padding: 12px;
                            border-radius: 5px;
                            color: $color-navegacion2;
                            font-weight: bold;
                        }
                    }
                }
                &-ingresar{
                    margin:16px ;
                    padding: 12px;
                    border: $color-boton-navegacion solid 1px;
                    text-decoration: none;
                    color: $color-boton-navegacion;
                    border-radius: 5px;
                    font-weight: bold;
        
                    &:hover{
                        background-color: $color-boton-navegacion;
                        color: $color-navegacion2;
                    }
                }
            }
        }  
    }
}