
.main__reserva {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;

    &-titulo {
        margin: 16px;
    }
    &-buscador {
        width: 700px;
        border: $color-borde-buscador solid 1px;
        border-radius: 10px;
        padding: 16px;
        box-shadow: $sombra-tarjetas;

        &-seccion1{
            display: flex;
            justify-content: center;
            align-items: center;

            &-entrada{
                width: $ancho-entrada-seccion1;
                height: $alto-entrada;
                margin: 16px;
                border: $color-borde-buscador solid 1px;
                border-radius: 5px;
            }
        }
        &-seccion2 {
            display: flex;
            justify-content: center;
            align-items: center;

            &-entrada {
                width: $ancho-entrada-seccion2;
                height: $alto-entrada;
                margin: 16px;
                border: $color-borde-buscador solid 1px;
                border-radius: 5px;
            }
            &-boton {
                width:100px;
                height: 30px;
                background-color: $color-boton-navegacion;
                color: $color-navegacion2;
                border: $color-boton-navegacion solid 1px;
                border-radius: 5px;
                font-weight: bold;
                font-size: large;
            }
            &-boton:hover {
                background-color: $color-boton-navegacion2;
                border: $color-boton-navegacion2 solid 1px;
            }
        }
    }
    &-visor{
        &-titulo{
            text-align: center;
            margin: 16px 0 16px;
        }
        &-noResult{
            color: grey;
            margin: 16px 0 16px;
        }
        &-tarjeta{
            display: flex;
            border: $color-borde-buscador solid 1px;
            padding: 16px;
            border-radius: 10px;
            box-shadow: $sombra-tarjetas;
            margin: 20px 0 20px 0;

            &-img{
                width: 180px;
                height: 120px;
                margin-right: 16px;
                border-radius: 5px;
            }

            &-tabla thead th{
                text-align: center;
                padding-right:16px;
                padding-left:16px;
            }
            &-tabla tbody td{
                text-align: center;
                padding-right:16px;
                padding-left:16px;
            }

            &-tabla {
                margin-left: 16px;

                &-botonR{
                    width:100px;
                    height: 30px;
                    background-color: $color-boton-navegacion;
                    color: $color-navegacion2;
                    border: $color-boton-navegacion solid 1px;
                    border-radius: 5px;
                    font-weight: bold;
                    font-size: large;
                }
                &-botonR:hover{
                    background-color: $color-boton-navegacion2;
                    border: $color-boton-navegacion2 solid 1px; 
                }

                &-botonC{
                    width:100px;
                    height: 30px;
                    background-color: $color-navegacion2;
                    color: $color-boton-navegacion;
                    border: $color-boton-navegacion solid 1px;
                    border-radius: 5px;
                    font-weight: bold;
                    font-size: large;
                    margin-left: 7px;
                }
            }
        }
    }  
}