
//HEADER

$color-navegacion: black;
$color-navegacion2: white;
$gradiente-header: linear-gradient(to top, rgb(240, 240, 240),white);
$color-boton-navegacion: rgb(211, 58, 58);
$borde-inferior-header: rgb(207, 207, 207) solid 1px;

//INDEX
$alto-entrada: 25px;
$ancho-entrada-seccion1:200px; 
$ancho-entrada-seccion2: 50px;
$color-borde-buscador:rgb(173, 173, 173);

//FOOTER

$gradiente-footer: linear-gradient(to bottom, rgb(240, 240, 240),white);
$borde-superior-footer: rgb(207, 207, 207) solid 1px;
$margen-titulos: 16px;
$margen-opciones: 7px;